html {
  font-size: 18px;
}

body {
  font-family: helvetica;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

/*logo header*/

.logo {
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  position: relative;
}

.logo img {
padding-left: 0.5rem;
height: 1.5rem;
}

.logo span {
color: white;
padding-left: 1rem;
font-size: 1rem;
}

/*main banner*/

.main_banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.headline{
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.headline h4 {
font-size: 1rem;
font-weight: bold;
color: white;
}

.headline h1{
padding-top: 0.25rem;
color: white;
font-size: 2rem;
font-weight: bold;
}

/*navigation bar*/

nav {
  background-color: firebrick;
  display: block;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-around;
}

.menu {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

span {
  text-align: center;
  color: white;
}

/* product grid*/

.products {
margin:3rem 0;
width:960px;
justify-content: space-between;
display: flex;
}

.product {
  display: block;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto 0;
  border: 4px solid black;
}

.product_img img{
  height: 9rem;
  padding: 2rem 0;
  width: auto 0;
  max-width: 100%;
  display: block;
}

.description {
  color: white;
  background-color: black;
  padding: 0.5rem;
  display: block;
  font-weight: bold;
}

/*business info*/
.business_info {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.info {
  width: 35%;
  display: inline-block;
  flex-direction: column;
  margin: auto 0;
}

.title {
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  padding: 1rem 2rem;
  font-weight: bold;
  text-align: left;
}

.info span{
  display:block;
  text-align: left;
}

#black {
  color: black;
}

/*footer*/

footer {
  background-color: black;
  display: block;
  margin: auto 0;
}

.footer {
  display: flex;
  width: 960px;
  background-color: black;
  margin: auto;
}

.footer span {
  color: white;
  text-align: left;
  padding: 5rem 0;
}

/*tablet size*/

@media only screen and (max-width: 1024px)
{
  .navigation span {
    display:none;
  }

  .menu {
    display: block;
    text-align: center;
  }
  .products {
    justify-content: space-between;
  }
  .product {
    width: 47%;
  }
  #glasses {
    display: none;
  }


}

/*phone size*/

@media only screen and (max-width: 470px) {


  .main_banner {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
    height: 15rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  .headline{
    background-color: black;
    width: 20rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 0;
    position:relative;
    top: 10rem;
    justify-content: space-around;
  }

  .headline h4 {
  font-size: 0.77rem;
  font-weight: bold;
  color: white;
  text-align: left;
  }

  .headline h1{
  padding-top: 0.25rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0rem;
  text-align: left;
  }

  .navigation span {
    display:none;
  }

  .menu {
    display: block;
    text-align: center;
  }

  .products {
    justify-content: center;
  }

  .product {
    width: 90%;
  }

  #watch {
    display: none;
  }

 .business_info {
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

  .info{
    margin-top: 0.5rem;
    width: 90%;
  }

footer {
display: block;
}

.footer {
display: flex;
margin: auto;
  justify-content: center;
  width: 90%;
}
  .footer span {
    text-align: center;
  }
}
